    <div class="login-container">
        <div class="login-left">
            <a routerLink="/app.component.html"><img src="imgs/gamemanialogo.png" alt="Ilustração de Tecnologia"></a>
        </div>
        <div class="login-right">
            <h2>Login</h2>
            <form id="loginForm">
                <label for="email">Email</label>
                <input type="text" placeholder="Login" id="login">
            
                <label for="password">Senha</label>
                <input type="password" placeholder="Senha" id="senha">
                
                <div class="forgot-password">
                    <a href="#">Esqueceu sua senha?</a>
                </div>
                
                <button type="submit" onclick="logar(); return false"
                class="login-btn">Entrar</button>
                <div id="loginMessage"></div>
                <div class="remember-me">
                    <input type="checkbox" id="remember" name="remember">
                    <label for="remember">Lembrar de mim</label>
                </div>
            </form>
            <div class="signup">
                <p>Não tem uma conta? <a routerLink="/criar-conta">Cadastre-se</a></p>
            </div>
        </div>
    </div>